@media screen and (max-width: 992px){

body{
font-size: 14px;
}
.nav-link a{
font-size: 20px;
}
.logo{
max-width: 220px;
}
.table img{
width: 200px;
}
h1{
font-size: 30px;
}
.button{
font-size: 18px;
}
.text-w{
font-size: 16px;
}
.icon img{
width: 110px;
}
.forma{
width: 45%;
}
.contacts{
margin-top: 10px;
padding: 20px;
border-radius: 20px;
}
.back{
background-color: whitesmoke;
border-radius: 20px;
display: flex;
margin-top: 10px;
flex-direction: column;
}
.contact{
margin: 5px;
}
.iframe-s{
margin: 15px;
width: 880px;
height: 325px;
}
.button-s{
margin: 5px;
}
.logo-s{
max-width: 0px;
}
.header-r{
text-align: center;
}
}
@media screen and (max-width: 768px){

body{
font-size: 12px;
}
.icon img{
width: 60px;
}
.nav-link a{
font-size: 18px;
padding: 10px;
}
.text-w{
font-size: 14px;
}
.logo{
max-width: 180px;
}
.table img{
width: 140px;
}
h1{
font-size: 30px;
}
.button{
font-size: 18px;
}
.iframe{
max-width: 450px;
margin: 1px;
max-height: 280px;
}
.forma{
width: 60%;
}
.fio{
margin-left: 20px;
margin-right: 20px;
margin-bottom: 5px;
}
.welcome-a{
padding-left: 40px;
padding-right: 40px;
padding-top: 10px;
padding-bottom: 10px;
}
.contacts{
margin-top: 5px;
padding: 5px;
border-radius: 20px;
}
.contact h2{
font-size: 24px;
}
.connect{
margin-top: 5px;
padding: 5px;
border-radius: 20px;
}
.connect h2{
font-size: 24px;
}
.iframe-s{
margin: 15px;
width: 680px;
height: 250px;
}
.header-r h1{
margin: 5px;
color: white;
text-align: center;
}
}
@media screen and (max-width: 576px){

body{
font-size: 12px;
}
.icon img{
width: 50px;
}
.nav-link a{
font-size: 16px;
padding: 10px;
}
.logo{
max-width: 150px;
}
.table img{
width: 100px;
}
.button{
font-size: 18px;
}
.iframe{
max-width: 400px;
margin: 1px;
max-height: 250px;
}
.forma{
width: 70%;
}
.fio{
margin-left: 20px;
margin-right: 20px;
margin-bottom: 5px;
}
.welcome-a{
padding-left: 40px;
padding-right: 40px;
padding-top: 10px;
padding-bottom: 10px;
}
.contacts{
margin-top: 10px;
padding: 10px;
text-align: center;
border-radius: 15px;
}
.contact h2{
font-size: 24px;
}
.connect{
margin-top: 5px;
padding: 20px;
border-radius: 15px;
}
.connect h2{
font-size: 24px;
}
.iframe-s{
margin: 10px;
width: 490px;
height: 200px;
}
.header-r h1{
margin: 5px;
color: white;
text-align: center;
}
.icon h5{
font-size: 16px;
}
body h2{
font-size: 20px;
}
body h1{
font-size: 24px;
}
body h3{
font-size: 18px;
}
.contact img{
max-width: 25px;
}
.wrapper{
flex-direction: column;
}

}