@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
background-image: url(../img/dbackground.jpg);
background-size: 100%;
font-family: 'Roboto', sans-serif;
font-size: 16px;
}
.forma{
display: flex;
flex-direction: column;
border-radius: 20px;
margin: auto;
text-align: center;
background-color: rgb(238, 236, 241);
width: 40%;
border-color: cornflowerblue;
}
.textarea{
resize: none;
}
.button-s{
margin: 10px;
}
.fio{
display: flex;
flex-direction: column;
margin-left: 30px;
margin-right: 30px;
margin-top: 10px;
margin-bottom: 10px;
}
.send{
background-color: cornflowerblue;
color: white;
border: none;
}
.header-r{
margin-top: 4px;
text-align: center;
}
.nav-link{
display: flex;
background-color: rgb(252, 252, 252);
flex-direction: row;
justify-content: space-around;
}
.nav-link a{
color: black;
font-size: 24px;
}
.nav-link a:hover{
color: black;
font-weight: 700;
}
.link{
text-decoration: none;
}
.header-r h1{
margin: 15px;
color: white;
background-color: black;
opacity: 0.6;
}
.footer{
padding: 10px;
text-align: center;
color: white;
}
.logo-s{
max-width: 300px;
}
