@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
background-image: url(../img/background.jpg);
background-size: 100%;
font-family: 'Roboto', sans-serif;
font-size: 18px;
}
.logo{
max-width: 300px;
}
.header{
margin-top: 15px;
text-align: center;
}
.nav-link{
display: flex;
background-color: white;
flex-direction: row;
margin-top: 5px;
justify-content: space-around;
}
.nav-link a{
color: black;
font-size: 26px;
padding: 30px;
}
.nav-link a:hover{
color: black;
font-weight: 700;
}
.link{
text-decoration: none;
}
.text-w{
font-size: 18px;
text-align: justify;
}
.welcome{
border-radius: 0px;
opacity: 0.7;
background-color: white;
padding-left: 60px;
padding-right: 60px;
margin-top: 10px;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
color: black;
}
.new{
border-radius: 0px;
opacity: 0.7;
background-color: white;
padding-left: 60px;
padding-right: 60px;
padding-top: 20px;
margin-top: 30px;
padding-bottom: 30px;
text-align: center;
color: black;
}
.footer{
padding: 10px;
text-align: center;
color: white;
}
.icon img{
width: 140px;
}
.icons{
display: flex;
flex-direction: row;
justify-content: space-around;
}